.search, .result, .result__image-container {
  margin-bottom: 25px;
  color: #333;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(77, 128, 114, 0.3);
}

.result__links:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #c5eee3;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Source Sans Pro', 'Fira Sans', sans-serif;
}

.hidden {
  display: none !important;
}

a {
  font-weight: normal;
  color: #0dad81;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
  padding: 40px 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 4px 20px rgba(98, 209, 179, 0.4);
}
.search__input, .search__button {
  height: 70px;
  padding: 0 25px;
  font-family: inherit;
  font-size: 1em;
  font-weight: 300;
  color: inherit;
  border: none;
  background: transparent;
}
.search__input {
  min-width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 0;
}
.search__button {
  float: right;
  cursor: pointer;
  padding-right: 1.3em;
}
.search__button svg {
  margin-top: 7px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.search__button svg .icon {
  stroke: #49f1c3;
}
.search__button #search-icon-line {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.search__button.active svg {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
.search__button.active #search-icon-circle {
  -webkit-animation: searchSpinIntro 1s, searchSpin 2s 1s infinite linear;
          animation: searchSpinIntro 1s, searchSpin 2s 1s infinite linear;
}
.search__button.active #search-icon-line {
  opacity: 0;
}

.result {
  position: relative;
  padding: 25px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.result.loading {
  opacity: 0;
}
.result__overview {
  margin-bottom: 25px;
  padding-right: 120px;
}
.result--no-image .result__overview {
  padding-right: 0;
}
.result h1 {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 0.5em;
}
.result__description {
  height: 4.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4;
}
.result--no-image .result__description {
  height: auto;
}
.result__image-container {
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  right: -12.5px;
  top: -12.5px;
  padding: 12.5px;
  text-align: center;
  font-size: 0;
}
.result__image-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.result--no-image .result__image-container {
  display: none;
}
.result__image-container img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.result__table {
  margin-bottom: 25px;
  width: 100%;
}
.result__links {
  text-align: center;
}
.result__links a {
  display: block;
  clear: both;
  margin: 25px 0;
}
.result__links a:last-child {
  margin-bottom: 0;
}
@media (min-width: 480px) {
  .result__links a {
    display: inline-block;
    clear: none;
    float: right;
    margin: 0;
    max-width: 50%;
    text-align: right;
  }
  .result__links a:first-child {
    float: left;
    text-align: left;
  }
}

.table__row {
  line-height: 1.4;
  border-color: #eee;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.table__row:last-child {
  border-bottom-width: 1px;
}
.table__cell {
  padding: 12.5px 0;
  vertical-align: middle;
}
.table__cell:not(:first-child) {
  padding-left: 25px;
}

@-webkit-keyframes searchSpinIntro {
  from {
    stroke-dasharray: 81;
  }
  to {
    stroke-dasharray: 20.25, 10.125, 10.125, 40.5;
  }
}

@keyframes searchSpinIntro {
  from {
    stroke-dasharray: 81;
  }
  to {
    stroke-dasharray: 20.25, 10.125, 10.125, 40.5;
  }
}
@-webkit-keyframes searchSpin {
  0%,
    100% {
    stroke-dasharray: 20.25, 10.125, 10.125, 40.5;
  }
  0% {
    stroke-dasharray: 20.25, 10.125, 10.125, 40.5;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 20.25, 10.125, 40.5, 10.125;
    stroke-dashoffset: 47.64706;
  }
  100% {
    stroke-dashoffset: 81;
  }
}
@keyframes searchSpin {
  0%,
    100% {
    stroke-dasharray: 20.25, 10.125, 10.125, 40.5;
  }
  0% {
    stroke-dasharray: 20.25, 10.125, 10.125, 40.5;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 20.25, 10.125, 40.5, 10.125;
    stroke-dashoffset: 47.64706;
  }
  100% {
    stroke-dashoffset: 81;
  }
}
