<!DOCTYPE html>
<html>
<head>
  <title>QnA - Dhruv Sangvikar</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
<div class="container">
  <form class="search" id="search">
    <input class="search__input" id="search-input" type="text" placeholder="What do you want to learn about?"/>
    <button class="search__button" id="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="32.01" height="32.01" viewBox="0 0 32 32"><g fill="none" class="icon"><path id="search-icon-line" d="M22.47 22.472l9.176 9.176"/><path id="search-icon-circle" d="M26.293 13.396c0 7.123-5.774 12.896-12.897 12.896C6.274 26.292.5 20.52.5 13.396.5 6.274 6.274.5 13.396.5c7.123 0 12.897 5.774 12.897 12.896z"/></g></svg></button>
  </form>
<section class="result" id="result">
    <div class="result__overview">
      <h1>result title</h1>
      <p class="result__description">Battles is an American experimental rock group, founded in 2002 in New York City by Ian Williams. The current line-up is guitarist/ keyboardist Ian Williams, guitarist/ bassist Dave Konopka, and drummer John Stanier. Former members include composer/vocalist Tyondai Braxton.</p>
    </div>
    <a class="result__source" href="#" target="_blank">Read more on Wikipedia</a></div>
  </section>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/index.js')}}"></script>
</body>
</html>




